/*Configure the tab buttons*/
.sheet-mechanics,
.sheet-relationships,
.sheet-backstory,
.sheet-journal {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="mechanics"] ~ div.sheet-mechanics,
.sheet-tabstoggle[value="relationships"] ~ div.sheet-relationships,
.sheet-tabstoggle[value="backstory"] ~ div.sheet-backstory,
.sheet-tabstoggle[value="journal"] ~ div.sheet-journal {
	display: grid;
}

.sheet-mechanics {
	grid-template-columns: 1fr 1fr;
}